//colors
$light-green: hsla(111, 55%, 64%, 0.8);
$light-green-2: hsla(111, 55%, 64%, 1);
$Medium-green: hsl(140, 49%, 55%);
$Dark-green: hsla(160, 61%, 38%, 0.8);
$Dark-green-2: hsla(160, 64%, 43%, 1);

$Dark-grey: hsl(0, 0%, 47%);
$color-grey-dark-2: hsl(0, 0%, 60%);
$color-grey-dark-3: hsl(0, 0%, 20%);

$White: hsl(0, 100%, 100%);
$color-grey-light-1: hsl(0, 0%, 97%);
$color-grey-light-2: hsl(0, 0%, 93%);
$color-black: hsl(0, 0, 0);

$color-orange-light: hsl(44, 100%, 50%);
$color-orange-dark: hsl(21, 100%, 59%);

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

//Grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font sizes
$default-font-size: 1.6rem;
